# Ignore the imageInsert directory
/imageInsert/

# Ignore node_modules directory
/node_modules/

# Ignore log files
*.log

# Ignore JSON files
*.json
# css
/dist/styles.css/
/styles.css
/tailwind.config.js